// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
  background-image: none;
}

body{
  font-size: 1em;
  line-height: 1.5em;

  &> header h1 {
    a, a:visited{
      color: #222;
    }
  }
  &>nav{
    border-bottom: none;
  }
}

table { 
  thead {
    tr {
      border-bottom: 1px solid black;
      th {
        font-weight: bold;
      }
    }
  }

  tr th, tr td {
    padding: 0.25rem;
  }

  margin: 1rem 0;


}